/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04.07.2018, 18:46:57
    Author     : x
*/

.firstscreencopy .asset2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : calc(0.00% + 51px);
  height              : 40px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : calc(0.00% + 125px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape13 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape14 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 2px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape16 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 28px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape17 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 1px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape19 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 28px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape20 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape21 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape22 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 2px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape23 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 21px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape24 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape25 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape26 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 1px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape27 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 2px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape28 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 2px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape29 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape30 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 2px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape31 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 32px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape32 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 2px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape33 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 28px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape34 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 39px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape35 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 2px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape36 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape37 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 2px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape38 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : 3px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape39 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 2px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape40 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape41 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape42 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape43 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape44 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 39px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape45 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 31px;
  height              : 1px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape46 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : 1px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape47 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape48 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 38px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape49 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 37px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape50 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 36px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape51 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape52 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 32px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape53 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 36px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape54 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 34px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape55 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 39px;
  height              : 1px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape56 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape57 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape58 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape59 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape60 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 2px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape61 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape62 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape63 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape64 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 3px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape65 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 37px;
  height              : 1px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape66 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 36px;
  height              : 1px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape67 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 36px;
  height              : 1px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape68 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 34px;
  height              : 1px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape69 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 36px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape70 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 2px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape71 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape72 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 1px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape73 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape74 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 2px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape75 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape76 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape77 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 1px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape78 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 1px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape79 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 1px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape80 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape81 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 2px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape82 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape83 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape84 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape85 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 29px;
  height              : 1px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape86 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape87 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : 1px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape88 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 28px;
  height              : 1px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape89 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 1px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape90 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 1px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape91 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 30px;
  height              : 1px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset2 .shape92 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 1px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 {
    background-color: rgba(255, 255, 255, 0.0);
    right: calc(0.00% + 66px);
    top: calc(0.00% + 154px);
    width: 1166px;
    margin: 0 auto;
    left: 0%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.firstscreencopy .asset4 .shape {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 132px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 343px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 174px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 452px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 39px;
  height              : 117px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 537px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 59px;
  height              : 93px;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 600px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 211px;
  width               : 228px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 62px;
  height              : 91px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape6 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 56px;
  height              : 96px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape7 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 62px;
  height              : 91px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 412px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape8 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 46px;
  width               : 45px;
  position            : absolute;
  margin              : 0;
  left                : 426px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape9 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 132px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 802px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape10 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 130px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 919px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape11 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 58px;
  height              : 95px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 1037px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.firstscreencopy .asset4 .shape12 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 56px;
  height              : 96px;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 716px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}