/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.07.2018, 16:12:50
    Author     : x
*/

.cart > div{
    float: left;
    position: relative;
    min-height: 1px;
}

.cart > .social_panel{
    width: 20%;
    padding-top: 300px;
    padding-left: 20px;
    clear: both;
    position: absolute;
}

.cart > .text, .cart > .slider{
    width: 37%;
}

.cart > .text span:first-child{
    background-color: rgba(255, 255, 255, 0.0);
    margin: 0;
    font-family: "Yeseva One", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48.0px;
    color: rgba(76, 27, 27, 1.0);
    text-align: left;
    line-height: 56.0px;
}

.cart > .text span:last-child{
    background-color: rgba(255, 255, 255, 0.0);
    margin: 0;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14.0px;
    color: rgba(76, 27, 27, 1.0);
    text-align: left;
    line-height: 29.0px;
}

.cart > .social_panel a{
    background-color: rgba(255, 255, 255, 0.0);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0.38;
    background-size: cover;
    display: block;
    height: 17px;
}

.cart > .social_panel a.facebook{
    background-image: url(../images/logo/first-screen-social@2x.png);
    width: 77px;
    background-position: 77px;
    margin-bottom: 83px;
}

.cart > .social_panel a.twitter{
    background-image: url(../images/logo/first-screen-social@2x.png);
    width: 77px;
    background-position: 0px;
}

.cart > .social_panel a.instagram{
    background-image: url(../images/logo/first-screen-social@2x.png);
    width: 79px;
    background-position: -91px;
    margin-bottom: 76px;
}

.cart > .title{
    width: 129px;
    height: 43px;
    margin-top: 73px;
    margin-bottom: 138px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    text-transform: uppercase;
    font-family: "Yeseva One", Helvetica, Arial, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36.0px;
    color: rgba(135, 198, 190, 1.0);
    text-align: left;
    line-height: 42.0px;
}

.cart .showcase{
    padding: 0 28px;
    width: 83%;
}

.progress_bar{
    width: 608px;
    min-height: 1px;
    margin-left: 102px;
}

.progress_bar > div{
    float: left;
    width: 30px;
}

.progress_bar > .step{
    font-family: Montserrat;
}

.progress_bar > .step > :first-child{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #bfe0c7;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 31px;
    font-size: 10px;
}

.progress_bar > .step.active > :first-child{
    background-color: #87c6be;
}

.progress_bar > .step > :last-child{
    font-weight: bold;
    text-transform: uppercase;
    color: #9fa3a7;
    font-size: 9px;
    letter-spacing: 3px;
    padding-top: 14px;
}

.progress_bar > .step.active > :last-child{
    color: black;
}

.progress_bar > .space{
    height: 2px;
    background-color: #bfe0c7;
    width: 138px;
    margin-top: 13px;
}

table.purchased{
    width: 100%;
    border-collapse: collapse;
    margin: 50px 57px;
    font-family: Montserrat;
    font-size: 14px;
    border-bottom: 2px solid #a5d4ce;
}

table.purchased .photo{
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    float: left;
    margin-right: 21px;
}

table.purchased .title{
    font-weight: bold;
    margin-top: 10px;
}

table.purchased thead tr th{
    font-size: 10px;
    font-family: Montserrat;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #9fa3a7;
    text-align: left;
    padding: 17px 5px;
}

table.purchased tbody tr{
    border-bottom: 1px solid #e7e7e7;
}

table.purchased tbody tr td{
    padding: 22px 0;
    vertical-align: super;
}

table.purchased tbody tr td.padding{
    padding-top: 5px;
}

table.purchased thead{
    border-bottom: 2px solid #a5d4ce;
}

table.purchased .count_up, table.purchased .count_down, table.purchased .count{
    float:left;
}

table.purchased .count_up{
    margin-right: 13px;
    margin-top: -3px;
}

table.purchased .count_down{
    margin-left: 13px;
    margin-top: -3px;
}

.checkout-panel{
    width: 100%;
    margin-left: 56px;
}

.checkout-panel > div{
    float: left;
}

.checkout-panel > div:first-child{
    font-family: Montserrat;
    font-weight: bold;
    margin-top: 3px;
}

.checkout-panel > .price{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    font-family: Yeseva One;
}

.checkout-panel > .currency{
    font-family: Montserrat;
    margin-left: 10px;
    margin-top: 3px;
    font-weight: bold;
    color: #535355;
}

button#checkout{
    float: right;
}